<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    body {
        background-image: url('https://img.freepik.com/free-photo/creative-flat-lay-design-workspace-desk-with-laptop-alarm-clock-blank-notebook-smartphone-stationery-with-copy-space-background_1150-45600.jpg?w=2000');
        background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      }
      
</style>
<title>About Us</title>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="mainhome">Home</a>
          </div>
        </div>
      </nav>
      <center>
        <div class="w3-container">
            <div class="w3-card-4" style="width:50%;">
                <header class="w3-container w3-blue">
                  <h1>About Us</h1>
                </header>
                <div class="w3-container w3-grey "><br>
                  <p>A software company is a company whose primary products are various forms of software, software technology, distribution, and software product development. They make up the software industry.</p>
                  
                  <p>Organizing a software company is a very specialized type of management skill, where experienced persons can turn the organizational problem into a unique benefit. For example, having sub-teams spread in different time zones may allow a 24-hour company working day, if the teams, systems, and procedures are well established. A good example is the test team in a time zone 8 hours ahead or behind the development team, who fix software bugs found by the testers.</p>
                    <p>All the teams are fully independent and they work separately on the different projects. The structure is quite simple and all the employees reports to one person, what make the situation quite clear however it is not a good solution in terms of knowledge exchange and optimal usage of human resources.</p>
                    <p>A number of organizations are focused on reaching the optimum level of the Capability Maturity Model (CMM), where "optimum" does not necessarily mean the highest. There are also other systems such as Carnegie-Mellon University's SEMA, or particular ISO standards. Small software companies will sometimes use less formalized approaches. Each organization works out its own style, which lies somewhere between total technocracy (where all is defined by numbers) and total anarchy (where there are no numbers at all). Whichever way the organization goes, they consider the pyramid describing the cost and risk of introducing change to already-begun development processes:</p><br>
                </div>
                
                
                </div>
            </div>
      </center>
    
</body>