<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    body {
        background-image: url('https://img.freepik.com/free-photo/creative-flat-lay-design-workspace-desk-with-laptop-alarm-clock-blank-notebook-smartphone-stationery-with-copy-space-background_1150-45600.jpg?w=2000');
        background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      }
      
</style>
<title>Gallery</title>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="mainhome">Home</a>
          </div>
        </div>
      </nav>
      <center>
        <h1>Gallery</h1> 
        <div id="im" class="container-">
           <img id="im1" class="img-thumbnail" src="https://images.pexels.com/photos/1170412/pexels-photo-1170412.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="1" width="400" height="300">
           <img id="im2" class="img-thumbnail" src="https://media.istockphoto.com/photos/modern-office-interior-with-city-view-picture-id1138024382?k=20&m=1138024382&s=612x612&w=0&h=CwlM6qpIlKK88e-L3b3Yy3uQYQoNzYFOlycLYgBGgog=" alt="2" width="400" height="300">
           <img id="im3" class="img-thumbnail" src="https://images.unsplash.com/photo-1497215842964-222b430dc094?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8b2ZmaWNlJTIwc3BhY2V8ZW58MHx8MHx8&w=1000&q=80" alt="3" width="400" height="300">
           <img id="im4" class="img-thumbnail" src="https://shrm-res.cloudinary.com/image/upload/c_crop,h_408,w_724,x_0,y_75/w_auto:100,w_1200,q_35,f_auto/v1/Benefits/office_space_kj3wup.jpg" alt="4" width="400" height="300">
           <img id="im5" class="img-thumbnail" src="https://www.thespruce.com/thmb/iRCsNXFfOGQ71Hz3BvmACETQRjQ=/4200x2800/filters:fill(auto,1)/tips-for-better-home-office-lighting-1812436-01.1-HERO-17b6f1ec4b174c7f9017e788cbe8cf81.jpg" alt="5" width="400" height="300">
           <img id="im6" class="img-thumbnail" src="https://media.istockphoto.com/photos/contemporary-loft-office-picture-id1208763228?k=20&m=1208763228&s=612x612&w=0&h=kA57xpf1uJ3bCCkBHc3hl0K56eVgHZT41k4ykU62uwQ=" alt="6" width="400" height="300">
        </div><br><br>
    
      </center>
    
</body>